# Entorno virtual
venv/
.venv/

# Variables de entorno (NUNCA subir)
.env

# Python
__pycache__/
*.pyc
*.pyo
db.sqlite3

# Node / Frontend
pos_frontend/node_modules/
pos_frontend/dist/

# IDE
.vscode/
.idea/
